<footer class="footer">
    <div class="footer__main">
        <div class="container">
            <div class="footer__wrapper">
                <ul class="footer__soc-links">
                    <li class="footer__soc-link"
                        style="background-image: url('images/youtube-icon.svg')">
                        <a href="#" class="footer__href">
                        <span class="sr-only">
                             перейти к соц-сети Youtube
                        </span>
                        </a>
                    </li>
                    <li class="footer__soc-link"
                        style="background-image: url('images/vk-icon.svg')">

                        <a href="#" class="footer__href">
                        <span class="sr-only">
                             перейти к соц-сети VK
                        </span>
                        </a>
                    </li>
                    <li class="footer__soc-link"
                        style="background-image: url('images/facebook-icon.svg')">
                        <a href="#" class="footer__href">
                        <span class="sr-only">
                            перейти к соц-сети Facebook
                        </span>
                        </a>
                    </li>
                    <li class="footer__soc-link"
                        style="background-image: url('images/instagram-icon.svg')">
                        <a href="#" class="footer__href">
                        <span class="sr-only">
                             перейти к соц-сети Instagram
                        </span>
                        </a>
                    </li>
                </ul>
                <div class="footer__shell">
                    <p class="footer__address">198555, Невский пр. 140, офис 140</p>
                    <div class="footer__contacts">
                        <a class="footer__tel color-link" href="tel:88121234567">
                            8 (812) 123-45-67
                        </a>
                        <button class="footer__button button" type="button">
                            Обратный звонок
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="container">
            <div class="footer__wrapper">
                <p class="footer__copyright">
                    Лучший магазин (с) 2019 Все права защищены. Интернет-магазин оборудования для салонов красоты
                </p>
                <p class="footer__politic color-link">
                    <a href="#" class="footer__href">
                        Политика конфиденциальности
                    </a>
                </p>
            </div>
        </div>
    </div>
</footer>
