.information {
  &__title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 25px;
  }

  &__description {
    margin-bottom: 25px;
    max-width: 160px;

    @include adpt($mtab-r) {
      max-width: 100%;
    }

    &_mw {
      max-width: 231px;
      @include adpt($mtab-r) {
        max-width: 50%;
      }
      @include adpt($bmob-r) {
        max-width: 100%;
      }
    }
  }

  &__blocks {
    display: flex;
    align-items: center;
    @include adpt($mtab-r) {
      flex-wrap: wrap;
    }
  }

  &__block {
    &:not(:last-child) {
      margin-right: 30px;
      @include adpt($mtab-r) {
        margin-right: 0;
        margin-bottom: 30px;
      }
    }

    flex-basis: 50%;
    padding: 35px 40px;
    background-color: $green;
    height: 212px;
    color: $white;
    @include adpt($mtab-r) {
      flex-basis: 100%;
      height: max-content;
    }
    @include adpt($bmob-r){
      padding: 24px;
    }
  }

  &__shell {
    background-repeat: no-repeat;
    background-position: center right;
    @include adpt($bmob-r) {
      background-size: 0 0;
    }
  }

  &__input {
    background-color: $white;
    padding: 9px 25px;
    width: 225px;
    font-size: 14px;
    border-radius: 30px;
    color: $black;

    &::placeholder {
      color: #C4C4C4;
    }

    &:valid {
      color: $green;
    }

    &:focus {
      outline: none;
    }

    @include adpt($bmob-r) {
      width: 100%;
    }
  }

  &__button {
    color: $white;
    border-color: $white;
    padding: 9px 28px;

    &:hover {
      background-color: $white;
      color: $green;
    }
  }
}
